@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  display: none;
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #9ca3af;
    -webkit-box-shadow: 0 0 0px 1000px #475569 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.zebra-bg{
    background-color: #1d283a;
    background-image: url(./svg/pattern.svg);
    background-size: cover;
    background-repeat: repeat;
}